<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evjeny.mentalarithmetic">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".Splash" android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Settings"/>
        <activity android:name=".MA" android:label="@string/ma"/>
        <activity android:name=".Logic" android:label="@string/logic"/>
        <activity android:name=".LogicTwo" android:label="@string/logic_two"/>
        <activity android:name=".LogicThree" android:label="@string/logic_three"/>
        <activity android:name=".NumChain" android:label="@string/num_chain"/>
        <activity android:name=".Cutouts" android:label="@string/cutouts"/>
        <activity android:name=".CutoutsTwo" android:label="@string/cutouts_two"/>
        <activity android:name=".WordChain" android:label="@string/word_chain"/>
        <activity android:name=".CutoutsThree" android:label="@string/cutouts_three" />
        <activity android:name=".CutoutsThreeInfo" />
        <activity android:name=".Colors" android:label="@string/colors" />
        <activity android:name=".PiActivity" android:label="@string/pi"/>
        <activity android:name=".Graphs" android:label="@string/graphs"/>
        <activity android:name=".MATwo" android:label="@string/ma_two"/>
        <activity android:name=".TextActivity" android:label="@string/text"/>
        <activity android:name=".SquaresActivity"/>
    </application>

</manifest>